[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
torch = "==1.8.0"
torchvision = "*"
nltk = "*"
transformers = "*"
numpy = "*"
jupyterlab = "*"
ipykernel = "*"
matplotlib = "*"
opencv-python = "*"
seaborn = "*"
h5py = "*"
tqdm = "*"
pillow = "*"
fastprogress = "*"
joblib = "*"
rainbow_logging_handler = "*"
gdown = "*"
adabelief-pytorch = "==0.1.0"
scikit-learn = "*"
wandb = "*"